<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ads_user_page</title>
  	<style type="text/css">
		/*задаём общие параметры для всей страницы*/
		body {
		  text-align: left;
		  margin: 10;
		  font-family:  Arial;
		  font-size: 20px;
		}
	</style>
</head>
<body>
<hr>
     <p> На странице представлены объявления пользователя -  {{request.user.username}}  </p>
<hr>
<a href="{% url 'base_user_page' %}"><u>Вернуться на главную страницу пользователя</u></a>
<hr>
     {% if post_user %} <!-- Если есть объявления, то выводим таблицу с ними -->
        <table>
            <tr>
                <td >
                    Название
                </td>
                <td >
                    Категория
                </td>
                <td>
                    Дата создания
                </td>
                <td>
                    Содержание
                <td>
                    Автор
                <td>
                    Кол. комм
                <td>
                    Действия
            </tr>

     {% for post in post_user %} <!-- Для каждого объявления будет генерироваться новая строка  -->
            <tr>
                <td>
                    {{ post.title}}
                </td>
                <td>
                   {{post.get_category_display}}
                </td>
                <td>
                    {{ post.dateCreation|date:'M / d / Y' }}
                </td>
                <td>
                    {{ post.text }}
                </td>

                <td>
                    {{ post.autor}}
                </td>
                <td>
                    {{ post.sum_comment}}
                </td>
                <td>
                    {% if post.sum_comment %}
                       <a href="{% url 'ads_user_detail' post.id %}">{{"Просмотреть комментарии"}}</a>
                    {% else %}
                      {{"Комметариев нет"}}
                    {% endif %}
                </td>
            </tr>
     {% endfor %}
     </table>
     {% else %}
        <p>Новостей нет!</p>
    {% endif %}
    <hr>
     <p align="center">
     <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
       {% if page_obj.has_previous %}
             <a href="?page=1">First</a>
             <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
       {% endif %}

       <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

         <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
        {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">>>></a>
              <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

     </p>

      <hr>
      </form>
</body>
</html>